@{
    Layout = "_LayoutExample";
    ViewData["Title"] = "Tugas Navbar";
}
<style >
</style>

<div class="">
    <div class="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="content p-1">
        <div class="row">
            <div class="col-md-6 mb-4 ">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </div>
            <div class="col-md-6 ">
                <div class="row mb-4">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                </div>
                <div class="row ">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </div>
            </div>

        </div>


        <div class="">
            <table id="tableSW" class="table table-hover" style="width: 100%;">
                <thead class="thead-dark">
                    <tr>

                        <th width="10%" >NO</th>
                        <th>Name</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody class="text-capitalize">
                </tbody>
            </table>
        </div>

    </div>

    

    <div class="">
        <!-- Button trigger modal -->
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Action
        </button>*@

        <!-- Modal -->
        <div class="modal fade" id="detailModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Pokemon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @*onclick="Detail('${row.url}')"*@
                <div class="modal-body">
                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="modal-image">
                                <img src="${result.sprites.other.dream_world.front_default}" alt="Alternate Text" style="width:100%" />
                            </div>
                            <div class="type">
                                ${badge}
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <div class="row detail">
                                <table class="table table-striped p-1">
                                    <thead>
                                        <tr>
                                            <th class="th-detail text-center" colspan="2">Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td>${result.name}</td>
                                        </tr>
                                        <tr>
                                            <td>Ability:</td>
                                            <td>${ability}</td>
                                        </tr>
                                        <tr>
                                            <td>Weight:</td>
                                            <td>${result.weight}</td>
                                        </tr>
                                        <tr>
                                            <td>Height:</td>
                                            <td>${result.height}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="row ">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="home" aria-selected="true">Detail</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="stat-tab" data-toggle="tab" href="#stat" role="tab" aria-controls="profile" aria-selected="false">Stat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="move-tab" data-toggle="tab" href="#move" role="tab" aria-controls="profile" aria-selected="false">Moves</a>
                            </li>
                        </ul>
                        <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="home-tab">
                            <table class="table table-hover table-striped">
                                <tr>
                                    <td>Name</td>
                                    <td class="col-8">: ${result.name}</td>
                                </tr>

                            </table>
                        </div>
                        <div class="tab-pane fade" id="stat" role="tabpanel" aria-labelledby="profile-tab">
                            <table class="table table-hover ">
                                ${stat}
                            </table>
                        </div>
                        <div class="tab-pane fade" id="move" role="tabpanel" aria-labelledby="move-tab">
                            <table class="table table-hover ">
                                <ol>
                                    ${move}
                                    <ol>
                            </table>
                        </div>

                    </div>*@

                </div>
                </div>
            </div>
        </div>

    <div class="footer ">
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">

            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="">Mii 2021</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
</div>
</div>